/*  common settings
 *  - for very basic settings
 *  - and for styles with no extra file available
 *  - at best, this file is nearly empty :)
 */

// set the defaults for all responsive levels here (desktop first)
// after that, use the media queryies to adujust the lower responsive levels

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width


  // ARTUS-52 make result list more compact
  // TODO: remove this when solution was done in MIR
  .result_body .result_list #hit_list {
    font-size: .875rem;
    .hit_item {
      .hit_title {
        font-size: 1rem;
        margin: 5px;
      }
      .hit_source {
        margin-top: 10px;
      }
      .hit_abstract {
        display: none;
      }
      .hit_counter {
        width: 54px;
      }
      .hit_icon {
        height: 75px;
      }
    }
  }

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xl and lower
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  // lg and lower
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
  // md and lower
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  // sm and lower
}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  // xs
}
