/*  section home
 *  - settings for homepage only
 */

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width

  .mir-start_page {

    #main_content {
      background-image: url('../../../../images/background-document-max.png');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 50%;
    }

    & > section {
      padding-bottom: 0;
    }

    h1 {
      margin-bottom: 0;
      font-family: $font-family-serif;
      font-size: 3rem;
    }

    .intro-text {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      &__content {
        background-image: url("../../../../images/border-green.svg");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 4rem;
        flex-basis: 80%;
        font-size: 1.4rem;
        p {
          line-height: 2.2rem;
        }
      }
    }

    .intro-search {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      form {
        flex: 0 0 80%;
        .input-group-lg > .form-control {
          border-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-color: $a-green-tile;
          border-width: 2px;
          border-right-width: 0;
          padding: 1.5rem 2rem;
          font-size: 1.5rem;

        }
        .btn {
          color: white;
          background-color: $a-green-tile;
          border-radius: 20px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-width: 2px;
          border-left-width: 0;
          padding: 1.5rem 2rem;
          font-size: 1.5rem;
        }
      }
    }

    .intro-body {
      padding-bottom: 80px;
    }

    .header__search {
      display: none;
    }

    .header__box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .intro-tiles {
      margin-top: 8rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem 1rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .intro-tile {
        position: relative;
        flex: 0 0 180px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        padding: 1.5rem 2rem 1.5rem 2rem;
        border: 2px solid $a-green-tile;
        border-radius: 20px;
        background-color: white;
        a {
          color: $a-black-text;
          font-size: 1.2rem;
        }
      }
    }

    .intro-hint {
      margin-top: 3rem;
      background-color: $a-gray-menu;
      border: 1px solid $a-green-logo;
      border-radius: 1.25rem;
      width: 80%;
      padding: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xl and lower

  .mir-start_page {
    .intro-text {
      &__content {
        padding-left: 5rem;
        flex-basis: auto;
      }
    }
    .intro-search {
      form {
        flex: 0 0 100%;
      }
    }
    .intro-tiles {
      margin-top: 8rem;
      width: auto;
    }
    .intro-hint {
      width: auto;
    }
  }

}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  // lg and lower

}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
  // md and lower

  .mir-start_page {
    .intro-tiles {
      justify-content: center;
    }
  }

}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  // sm and lower
}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  // xs
}
